---
import "../global.css";
import { Image } from 'astro:assets';
import fosilLogoImage from '../assets/fosilie_logo.png';
---

<html lang="cs">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Fosílie</title>
	</head>
	<body class="bg-gray-600 p-4 flex justify-center items-center min-h-screen min-w-screen">
		<div><h1 class="text-white mb-12 text-4xl text-center">Jsme Fosilní</h1>
    <div class="pr-[8vw]"><Image src={fosilLogoImage} alt="Fosílie" width="500" height="500" format="png" /></div></div>
	</body>
</html>
